# Python Virtual Environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Database files (if you were using SQLite)
*.sqlite3
db.sqlite3

# Environment/Secret Variables
.env
.env.*

# Uploads and caches
static/uploads/
.pytest_cache/

# OS files
.DS_Store

# Editor config
.vscode/
.idea/

# Logs
*.log
